<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ¡A jugar!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ question.category }}</ion-card-subtitle>
      <ion-card-title>{{ question.name }}</ion-card-title>
    </ion-card-header>
    <ion-list *ngIf="response > 0">
      <ion-item *ngIf="response == 1"><ion-icon name="checkmark-circle-outline"></ion-icon> Bien</ion-item>
      <ion-item *ngIf="response == 2"><ion-icon name="close"></ion-icon> Mal</ion-item>
      <p align="center">
        <ion-button (click)="showQuestion()">
          <ion-icon name="logo-game-controller-b"></ion-icon> Siguiente pregunta
        </ion-button>
      </p>
    </ion-list>
    <ion-list *ngIf="response == 0">
      <ion-item *ngFor="let answer of answers" (click)="makeAnswer(answer)">{{ answer }}</ion-item>
      <ion-item>Puntos: {{ points }}</ion-item>
    </ion-list>
  </ion-card>
</ion-content>
