<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/img/trivol-card.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>¿Estas listo?</ion-card-subtitle>
        <ion-card-title>Bienvenido a Trivol</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Desafia tus conocimientos en ciencia y tecnologia con este increible juego.</p>
        <p>&nbsp;</p>
        <p align="center">
          <ion-button color="primary" routerLink="/game"><ion-icon name="logo-game-controller-b"></ion-icon> Jugar</ion-button>
        </p>

      </ion-card-content>
    </ion-card>
</ion-content>
